NODE_ENV=development
PORT=8000

DATABASE_URL=postgresql://user:password@localhost:5432/elysia_auth

ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRES_IN=7d